<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <record id="res_config_settings_view_form" model="ir.ui.view">
            <field name="name">res.config.settings.view.form.inherit.base.setup</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="0"/>
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[hasclass('settings')]" position="inside">
                    <div class="app_settings_block" data-string="Constriction Settings" string="Constriction"
                         data-key="constriction">
                        <div id="general_settings">
                            <h2>Construction</h2>
                            <div class="row mt16 o_settings_container">
                                <div class="col-6 col-lg-6 o_setting_box">
                                    <div class="o_setting_right_pane">
                                        <span class='o_form_label'>
                                            Owner Journal
                                        </span>
                                        <field name='journal_id' domain="[('type', '=', 'sale')]"/>
                                    </div>
                                    <div class="o_setting_right_pane">
                                        <span class='o_form_label'>
                                            Subcontractor Journal
                                        </span>
                                        <field name='sub_journal_id' domain="[('type', '=', 'purchase')]"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </xpath>
            </field>
        </record>
        <record id="action_channel_config" model="ir.actions.act_window">
            <field name="name">constriction</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.config.settings</field>
            <field name="view_id" ref="res_config_settings_view_form"/>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="context">{'module' : 'constriction'}</field>
        </record>
        <menuitem id="construction_settings_menu"
                  name="Settings"
                  sequence="1"
                  parent="configuration_menu"
                  action="action_channel_config"/>

    </data>
</odoo>