// Colors
$o-community-color: #7C7BAD;
$o-enterprise-color: #444444;
$o-enterprise-primary-color: #00A09D;
$o-webclient-background-color: #444;
$dropdown-bg: #eee;
$toast-header-background-color: #444;
$toast-background-color: #444;
$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;
// $o-view-background-color: #eee;
$o-control-panel-background-color: #eee;